html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainmenu {
	list-style: none;
	display: flex;
	height: 50px;
	margin-top: 0;
	background-color: #434052;
}

.menu_el  {
	margin-left: 20px;
	margin: auto 20px;
	vertical-align: middle;
}

.menu_el a {
	text-decoration: none;
	font-size: 25px;
	color: aliceblue;
}

.menu_el a:hover {
	color: #9b98b3;
}

.content {
	margin: 10px;
}

.book_table_adm {
	font-size: 18px;
	margin: auto;
}

.row_1_adm {
	width: 50px;
	text-align: center;
}

.row_2_adm {
	width: 230px;
}

.row_3_adm {
	width: 250px;
}

.row_3_adm a {
	text-decoration: none;
	color: #0011a8;
}

.row_3_adm a:hover {
	text-decoration: none;
	color: #96a1ff;
}

.row_4_adm {
	width: 85px;
	text-align: center;
}

.row_5_adm {
	width: 85px;
	text-align: center;
}

.row_6_adm {
	width: 560px;
}

.row_7_adm {
	width: 60px;
}

.row_7_adm a {
	text-decoration: none;
	color: #0011a8
}

.row_7_adm a:hover {
	text-decoration: none;
	color: #ff3636
}

.row_8_adm {
	width: 30px;
	text-align: center;
}

.book_image {
	max-height: 500px;
}

.main_img {
	display: flex;
}

.image_div {
	text-align: center;
}

.image_div a{
	text-decoration: none;
	color: #0011a8;
}

.image_div a:hover {
	color: #96a1ff;
}

.text_error {
	color: #FF4040;
}

.main_info {
	margin-left: 50px;
	text-align: center;
	max-width: 350px;
}

.main_info p {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.main_info a{
	font-size: 15px;
	font-weight: lighter;
	text-decoration: none;
	color: #0011a8;
}

.main_info a:hover {
	color: #96a1ff;
}

.adm_card_table th{
	text-align: right;
}

.adm_card_table td{
	width: 200px;
	text-align: right;
}

.adm_tags {
	max-width: 400px;
	max-height: 500px;
	margin-left: 50px;
}

.adm_tags p{
	font-size: 20px;
	font-weight: bold;
}

.adm_tags p a{
	font-size: 15px;
	font-weight: lighter;
	color:#0011a8;
	text-decoration: none;
}

.adm_tags p a:hover{
	font-size: 17px;
	font-weight: normal;
	color:#96a1ff;
}

.adm_file {
	max-width: 200px;
}

.flash {
	padding: 10px;
	margin-top: 5px;	
}
.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

#adm_title {
	font-size: 25px;
	font-weight: bold;
	margin: auto;
}

.adm_file p{
	font-size: 20px;
	font-weight: bold;
}

.adm_file a {
	font-size: 20px;
	text-decoration: none;
	color: #0011a8;
	font-weight: bold;
}

.adm_file a:hover {
	color: #96a1ff;
}

#a1 {
	font-size: 15px;
	text-decoration: none;
	color: #0011a8;
	font-weight: lighter;
}

#a1:hover {
	color: #96a1ff;
}

.adm_tags ul {
	/* list-style: none; */
	display: flex;
}

.adm_tags ul li{
	margin-left: 25px;
	text-align: left
}

.book_discription {
	max-width: 100%;
}

.book_discription p {
	font-size: 17px;
	font-weight: normal;
	text-align: justify;
}

.book_discription h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.wnd_dlg_back {
	z-index: 9999;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(64, 65, 69, 0.5);
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.wnd_dlg_back.login_wnd {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 345px;
	height: 220px;
	margin: -110px 0 0 -173px;
	background: rgba(64, 65, 69, 0.2);
}

div.login {
	width: 300px;
	height: 175px;
	padding: 20px;
	color: #c39000;
	background: #fafdd1;
	border: 2px solid #d5d8b2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}


.adm_update_main_table{
	margin-left: 20px;
}

.adm_update_main_table th{
	height: 50px;
	text-align: left;
	font-size: 20px;
}

.adm_update_main_table td{
	height: 50px;
}

.adm_update_main_table td input{
	height: 25px;
	font-size: 20px;
	width: 400px;
	background:rgba(216, 203, 245 , 0.2);
	border: 1px solid silver;
	border-radius: 5px;
}

.adm_check{
	font-size: 20px;
	font-weight: bold;
	margin-left: 25px;
}

.adm_check input{
	margin-left: 30px;
}

.adm_update_discr{
	margin: auto;
}

.adm_update_discr p{
	font-size: 20px;
	font-weight: bold;
}

.adm_update_discr textarea{
	width: 600px;
	height: 250px;
	background: rgba(216, 203, 245 , 0.2);
	border-radius: 5px;
	font-size: 15px;
	font-weight: lighter;
}

#adm_int_input {
	height: 25px;
	font-size: 20px;
	width: 70px;
}

.adm_main_upd {
	display: flex;
}

#adm_chng_subm {
	width: 120px;
	height: 35px;
	background: rgba(88, 74, 117, 0.2);
	border-radius: 5px;
	border: 0;
	font-size: 17px;
	margin-left: 45%;
	margin-top: 15px;
}

#adm_chng_subm:hover {
	color: #0011a8;
	background-color: #96a1ff;
	transition: 0.5s;
}

.adm_upd-file_btn {
	width: 100%;
	display: flex;
	background-color: #0011a8;
}

.adm_img_file {
	font-size: 17px;
	margin-left: 47%;
	margin-top: 15px;
}

.adm_img_file_subm {
	font-size: 17px;
	margin-left: 49%;
	margin-top: 15px;
}

.book_image_1 {
	max-height: 500px;
	margin-left: 40%;
}

.adm_upd_tags_id {
	width: 50px;
	height: 30px;
	text-align: center;
}

.adm_upd_tags_tag {
	width: 250px;
	height: 30px;
	text-align: center;
}

.adm_upd_tags {
	font-size: 17px;
	margin-left: 80px;
}

.adm_upd_tags a {
	color: #0011a8;
	text-decoration: none;
}

.adm_upd_tags a:hover {
	color: #FF4040;
	text-decoration: none;
}

.adm_upd_tag_main{
	display: flex;
}

.adm_p{
	font-size: 25px;
	font-weight: bold;
	margin-left: auto;
}

.adm_chng_tag_form{
	text-align: center;
	margin-left: 700px;
	margin-top: 20px;
	position: fixed;
	background: rgba(164, 133, 229, 0.03);
	width: 500px;
	height: 200px;
	border-radius: 5px;
}

.adm_chng_tag_form p{
	font-size: 25px;
	font-weight: bold;
}

.adm_chng_tag_form select{
	width: 300px;
	height: 30px;
	font-size: 17px;
	border: 0;
	background: rgba(164, 133, 229, 0.2);
	border-radius: 5px;
}

.adm_tag_subm{
	width: 140px;
	height: 40px;
	background: rgba(88, 74, 117, 0.2);
	border-radius: 5px;
	border: 0;
	font-size: 20px;
	margin-bottom: 5px;
}

.adm_tag_subm:hover{
	background: rgba(164, 133, 229, 0.2);
	color: #0011a8;
	transition: 0.8s;
}
