html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
}

a {
    color: #0059b2;
    text-decoration: none;
}

a:hover {
    color:#235c08;
    text-decoration: underline;
}

.clear {clear: both;}

ul.mainmenu {
    list-style: none;
    background: #334a31;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;
}

ul.mainmenu li {
    float: left;
    margin: 15px 40px 0 50px;
}

ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
    color: #fdc073;
    text-decoration: none;
}

ul.mainmenu li a:hover {
    color: #FDA83D;
}

div.content {
    margin: 10px;
}

.flash {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
    z-index: 10000;
}
.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.books_table tr{
    height: 25px;
}

#row_1 {
    width: 50px;
    text-align: center;
}

.books_table td{
    /* border-bottom: 1px solid black; */
    border-top: 1px solid black;
    border-collapse: collapse;
}

#table_light_div {
    margin-left: 13%;
}

.adm_main_upd p {
    text-align: center;
}

.adm_add_tag_form {
	text-align: center;
}

#row_1_1 {
    width: 150px;
    vertical-align: middle;
}

#row_2 {
    width: 250px;
    text-align: center;
}

#row_3 {
    width: 300px;
    text-align: center;
}

#row_4{
    width: 80px;
    text-align: center;
}

#row_1_light {
    width: 70px;
    text-align: center;
    text-align: center;
}

#row_2_light {
    width: 350px;
    text-align: center;
}

#row_3_light {
    width: 600px;
    text-align: center;
}

#row_4_light{
    width: 80px;
    text-align: center;
}

#row_5 {
    width: 80px;
    text-align: center;
}

#row_7 {
    margin-left: 5px;
}

h_1 {
    font-family: 'Arial';
    font-size: 15px;
}

h_2 {
    font-family: 'Arial';
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

h_3 {
    font-family: 'Arial';
    font-size: 20px;
}

#selection {
	width: 200px;
	height: 25px;
	font-size: 19px;
    margin: 0;
}

#adm_tag_add_btn{
	width: 70px;
	height: 25px;
	background: rgba(88, 74, 117, 0.2);
	border: 0;
	border-radius: 5px;
}

#adm_tag_add_btn:hover{
	background: rgba(35, 92, 8, 0.2);
	color: #235c08;
	transition: 0.1s;
}

#row_6 {
    width: 650px;
    text-align: justify;
}

#row_6_x {
    width: 650px;
    text-align: center;
}

#table_img {
    max-height: 300px;
    margin-top: 5px;
    margin-bottom: 0;
    transition: 1s;
}

#table_img:hover {
    transform: scale(1.5);
}

#table_img_div {
    text-align: center;
    vertical-align: middle;
}

.main_card_info {
    display: flex;
}

.book_card_img {
    max-height: 500px;
}


.main_info_table{
    margin-left: 50px;
}

.main_info_table th{
    height: 30px;
    text-align: right;
    width: 200px;
}

.main_info_table td{
    height: 30px;
    text-align: center;
    width: 300px;
}

.card_discription {
    margin-left: 100px;
}

.card_discription h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.text_disription{
    font-size: 17px;
    font-weight: lighter;
    text-align: justify;
}

.main_info p{
    margin-left: 135px;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.main_info{
    min-width: 500px;
}

.card_tags p {
    font-size: 20px;
    font-weight: bold;
    max-width: 90%;
}

.card_tags ul {
    display: flex;
    list-style: none;
}

.card_tags li {
    background: rgba(181, 181, 181, 0.2);
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    margin-left: 25px;
}

.card_tags li:hover {
    background: rgba(35, 92, 8, 0.2);
    color: #334a31;
}

.a_tag_card {
    color: #111;
}

.a_tag_card:hover {
    text-decoration: none;
    color:#235c08;
}
