{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="main_card_info">
    <a href="{{ url_for('show_image', book_id=book[0]) }}"><img class="book_card_img" src="{{ url_for('book_image', book_id = book[0]) }}"></a>
    <div class="main_info">
        <p>Основные данные:</p>
        <table class="main_info_table">
            <tr>
                <th>Название:</th>
                <td>{{ book[2] }}</td>
            </tr>
            <tr>
                {% if len > 1 %}
                <th>Авторы</a></th>
                {% else %}
                <th>Автор</a></th>
                {% endif %}
                {% if authors[0][2] %}
                <td>{{ authors[0][3] + ' ' + authors[0][1][:1] + '. ' + authors[0][2][:1] + '.' }}</td>
                {% else %}
                <td>{{ authors[0][3] + ' ' + authors[0][1][:1] + '.'}}</td>
                {% endif %}
              </tr>
              {% if len > 1 %}
              {% for i in range (1, len) %}
              <tr>
                <th></th>
                {% if authors[i][2] %}
                <td>{{ authors[i][3] + ' ' + authors[i][1][:1] + '. ' + authors[i][2][:1] + '.' }}</td>
                {% else %}
                <td>{{ authors[i][3] + ' ' + authors[i][1][:1] + '.'}}</td>
                {% endif %}
              </tr>
              {% endfor %}
              {% endif %}
            <tr>
                <th>Год издания:</th>
                <td>{{ book[2] }}</td>
            </tr>
            <tr>
                <th>Кол-во страниц:</th>
                <td>{{ book[3] }}</td>
            </tr>
            <tr>
                <th>Файл:</th>
                <td><a href="{{ url_for('download', book_id=book[0]) }}">скачать</a></td>
            </tr>
        </table>
    </div>
    <div class="card_discription">
        <h1>Описание:</h1>
        <p class="text_disription">{{ book[4] }}</p>
    </div>
</div>
<div class="card_tags">
    <p>Теги: </p>
    <ul>
    {% for t in tags %}
    <li><a class="a_tag_card" href="{{ url_for('show_tags', tag_id=t[0]) }}">{{ t[1] }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}