{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<p id="adm_title">Добавить книгу</p>
<form action="{{ url_for('.add_book') }}" method="POST" enctype="multipart/form-data" >
  <div class="adm_book_upd_form">
    <div>
      <table class="adm_update_main_table">
        <tr>
          <th>Первый автор:</th>
          <td>
            <select name="author" class="selection">
            {% for a in authors %}
            {% if a[2] %}
              <option value="{{ a[0] }}">{{ a[3] + ' ' + a[1] + ' ' + a[2] }}</option>
            {% else %}
              <option value="{{ a[0] }}">{{ a[3] + ' ' + a[1]}}</option>
            {% endif %}
            {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>Название:</th>
          <td><input type="text" name="title"></td>
        </tr>
        <tr>
          <th>Год издания:</th>
          <td>
            <select name="year" id="adm_int_input">
            {% for i in range (1900, 1980) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            <option value="{{ 1980 }}" selected>{{ 1980 }}</option>
            {% for i in range (1981, 2024) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </td>
        </tr>
        <tr>
          <th>Кол-во страниц:</th>
          <td><select name="num_pg" id="adm_int_input">
            {% for i in range (1, 300) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            <option value="{{ 300 }}" selected>{{ 300 }}</option>
            {% for i in range (301, 1000) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select></td>
        </tr>
      </table>
      <p class="adm_check">Показывать: <input type="checkbox" name="is_open" checked></p>
      <p>Описание:</p>
      <p><textarea id="adm_update_textarea" name="discr" cols="25" rows="5"></textarea>
    </div>
    <div class="adm_file_book">
      <p>Добавление файлов:</p>
      <table id="adm_file_book_table">
        <tr>
          <td>Файл изображения:</td>
          <td><input type="file" name="image"></td>
        </tr>
        <tr>
          <td>Файл книги:</td>
          <td><input type="file" name="file"></td>
        </tr>
      </table>
    </div>
  </div>
    <input id="adm_add_fil_subm" type="submit"  value="Добавить"/>
  </form>

{% endblock %}