{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<p id="adm_title">Список книг</p>
<table class="book_table_adm">
    <tr>
      <th >id</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Год издания</th>
      <th>Кол-во страниц</th>
      <th></th>
      <th></th>
      <th>Показывать</th>                                                                                                                                                                                                                                                                                                                                                                                                                          "></th>
    </tr>

    {% for b in books %}
    <tr class="table_row_adm">
      <td class="row_1_adm">{{ b[0] }}
      <td class="row_2_adm">{{ b[1] }}
      <td class="row_3_adm"><a href="{{ url_for('admin.show_card', book_id=b[0]) }}">{{ b[2] }}</a>
      <td class="row_4_adm">{{ b[3] }}
      <td class="row_5_adm">{{ b[4] }}
      <td class="row_6_adm">{{ b[5] [:60] + "..." }}
      <td class="row_7_adm"><a href="{{ url_for('admin.delete_book', book_id=b[0]) }}">Удалить</a>
      {% if b[8] == 1 -%}
      <td class="row_8_adm">Да</td>
      {% else %}
      <td class="row_8_adm">Нет</td>
      {%- endif -%}
    </tr>
    {% endfor %}
  </table>
{% endblock %}