{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<table>
    <tr>
      <th>id</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Год издания</th>
      <th>Кол-во страниц</th>
    </tr>
    {% for b in books %}
    <tr>
      <td>{{ b[0] }}
      <td>{{ b[1] }}
      <td>{{ b[2] }}
      <td>{{ b[3] }}
      <td>{{ b[4] }}
      <td>{{ b[5] }}
      <td><a href="{{ url_for('admin.delete_book', book_id=b[0]) }}">Удалить</a>
      <td><a href="{{ url_for('admin.update_book_form', book_id=b[0]) }}">Редактировать описание</a>
    </tr>
    {% endfor %}
  </table>
{% endblock %}