{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<form  action="{{ url_for('.update_book', book_id = book_id) }}" method="POST" enctype="multipart/form-data" >
  <div>
    <div class="adm_main_upd">
      <div class="adm_main_info_upd">
        <table class="adm_update_main_table"> 
          <tr>
            <th>Название:</th>
            <td><input type="text" name="title" value="{{ book[1] }}"></td>
          </tr>
          <tr>
            <th>Год издания:</th>
            <td><select name="year" id="adm_int_input">
              {% for i in range (1900, book[2]) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
              <option value="{{ book[2] }}" selected>{{ book[2] }}</option>
              {% for i in range (book[2] + 1, 2024) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select></td>
          </tr>
          <tr>
            <th>Кол-во страниц:</th>
            <td><select name="num_pg" id="adm_int_input">
              {% for i in range (1, book[3]) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
              <option value="{{ book[3] }}" selected>{{ book[3] }}</option>
              {% for i in range (book[3] + 1, 1000) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select></td>
          </tr>
        </table>
        <p class="adm_check"><label for="is_open">Показывать  </label><input type="checkbox" name="is_open" checked></p></td></p>
      </div>
      <div class="adm_update_discr">
        <p id="adm_check_discr_title">Описание:</p>
        <textarea id="adm_update_textarea" name="discr" cols="25" rows="5">{{ book[4] }}</textarea>
      </div>
    </div>
    <input id="adm_chng_subm" type="submit"  value="Изменить"/>
  </div>
</form>
{% endblock %}