{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<p id="adm_title">Изменить авторов книги "{{ book[1] }}"</p>
<div id="adm_upd_authors">
    <table id="adm_author_table">
        <tr>
            <th id="auth_1">id</th>
            <th id="auth_2">Фамилия</th>
            <th id="auth_3">Имя</th>
            <th id="auth_4">Отчество</th>
        </tr>
        {% for a in authors %}
        <tr>
            <td>{{ a[0] }}</td>
            <td>{{ a[3] }}</td>
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
            <td id="auth_adm"><a href="{{ url_for('admin.delete_auhor_book', book_id = book[0], author_id = a[0]) }}">удалить</a></td>
        </tr>
        {% endfor %}
    </table>

    <form action="{{ url_for('admin.add_book_author', book_id = book[0]) }}" method="POST" id="adm_upd_authors_form">
        <select name="author_id">
            {% for a in used_authors %}
            {% if a[2] %}
            <option value="{{ a[0] }}">{{ a[3] + ' ' + a[1][:1] + '. ' + a[2][:1] + '.' }}</option>
            {% else %}
            <option value="{{ a[0] }}">{{ a[3] + ' ' + a[1][:1] + '.'}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Добавить" id="adm_upd_auth_btn">
    </form>
</div>

{% endblock %}